body {
    padding: 0;
    margin: 0;
    background-color: #e4e0cb;
    font-family: "Ubuntu", "Tahoma", sans-serif;
    font-size: 16px;
    color: #5f4f3d;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden-desktop {
    display: none;
}

.hidden {
    display: none;
}

.mobile {
    display: none;
}

.container {
    max-width: 1050px;

    margin: 0 auto;
    padding: 0;
}

.page-header {
    display: flex;
    height: 100px;
    margin-bottom: 20px;

    background-color: #fbdb1d;
}

.page-title {
    margin: auto;
    padding: 0;

    font-family: "Ubuntu", "Tahoma", sans-serif;
    color: #5f4f3d;
}

.portfolio-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}

.portfolio-list h2,
.portfolio-list h3,
.portfolio-list p {
    padding: 0;
    margin: 0;
}

.barbershop {
    background-color: #ffffff;
    background-image: url("../img/barbershop.jpg");
}

.technomart {
    background-color: #ffffff;
    background-image: url("../img/technomart.jpg");
}

.sedona {
    background-color: #ffffff;
    background-image: url("../img/sedona.jpg");
}

.nerds {
    background-color: #ffffff;
    background-image: url("../img/nerds.jpg");
}

.glacy {
    background-color: #ffffff;
    background-image: url("../img/glacy.jpg");
}

.device {
    background-color: #ffffff;
    background-image: url("../img/device.jpg");
}

.item {
    min-width: 300px;
    width: 95%;
    max-width: 450px;
    height: 221px;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;

    background-color: transparent;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

.item a {
    display: block;

    height: 100%;
}

.pages-list a {
    display: block;
    width: 220px;
    height: 40px;

    color: transparent;
    text-decoration: none;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 5px;
}

.item:hover .pages-list h2 {
    color: #e4e0cb;
}

.item:hover .pages-list a,
.pages-list a:focus {
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #ffffff;
    background-color: #988659;
}

.item:hover .pages-list {
    height: 100%;
    color: #e4e0cb;
    background-color: rgba(152, 134, 89, 0.95);
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.pages-list a:hover {
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.3);
}

.pages-list a:active {
    opacity: 0.6;
}

.page-footer {
    background-color: #77705f;
    color: #e4e0cb;
}

@media screen and (max-width : 480px) {
    .visually-hidden-desktop {
        display: block;
    }
    .pages-list {
        display: none;
    }
    .portfolio-list {
        flex-direction: column;
        align-items: center;
    }

    .item {
        flex-grow: 2;
        height: 221px;
        margin: 0;
        margin-bottom: 10px;
    }

    .item a {
        background-color: rgba(152, 134, 89, 0.5);
    }

    .mobile {
        display: block;
        margin: auto;
        width: 95%;
        background-color: rgba(152, 134, 89, 1);
        color: #e4e0cb;
    }

    .mobile h2 {
        padding: 10px 10px;

        color: #e4e0cb;
    }

    .mobile p {
        text-align: justify;
        padding: 0 10px;
        padding-bottom: 10px;
    }
}
